<!--%= form_for(@return_request) do |f| %-->

<div class="container">
  <div class="row">
    <div class="span9">
      <%= bootstrap_flash %>
            
    </div>
    <div class="span12 home">
            
      <div id="fullscreen_bg" class="fullscreen_bg"/>

			<div class="container">
<%= form_for(:session, url: login_path) do |f| %>
				<!--form class="form-signin" action="/login" method="post"-->
					<h1 class="form-signin-heading text-muted">Sign In</h1>
					<input type="text" class="form-control" name="session[email]" id="lemail-input" placeholder="Email address" required="" autofocus="">
					<input type="bottompassword" name="session[password]" class="form-control" id="lpassword-input" placeholder="Password" required="">
					<button class="btn btn-lg btn-primary btn-block" id="sign_in" type="submit">
					Sign In
					</button>

				<!--/form-->
<% end %>
</div>
	

			<div class="container">
<%= form_for User.new  do |f| %>

				<!--form class="form-signin" accept-charset="UTF-8" action="/users" id="new_user" class="new_user" method="post"-->
<%= render 'shared/error_messages', object: f.object %>
					
					<h1 class="form-signin-heading text-muted">Register</h1>
					<input type="text" class="form-control" name="user[email]" type="text" id="remail-input" placeholder="Email address" required="" autofocus="">
					<input type="midpassword" name="user[password]" type="password" class="form-control" id="rpassword-input" placeholder="Password" required="">
					<input type="bottompassword" name="user[password_confirmation]" type="password" class="form-control" id="rpassword-confirmation-input" placeholder="Confirm Password" required="">
					<button class="btn btn-lg btn-primary btn-block" id="register" type="submit">
					Register
					</button>
					
				<!--/form-->
<% end %>

			</div>
		</div><!--/row-->
    
	</div>
		

  <footer>
    <p>&copy; ImageSpace Inc 2014</p>
  </footer>

	
</div> <!-- /container -->
